{% extends 'base.html' %}
{% block container %}
<h1>German Flashcards</h1>
<div class="flashcard" id="flashcard" onclick="showDetails()">
  {{ card.de }}
</div>
<div class="nav-buttons">
  <form action="{{ url_for('forgot', card_id=card.id) }}" method="get" style="margin: 0">
    <button type="submit" class="nv-left">&#128078;</button>
  </form>
  <form action="{{ url_for('knew', card_id=card.id) }}" method="get" style="margin: 0">
    <button type="submit" class="nv-right">&#128077;</button>
  </form>
</div>
<div class="details" id="details">
  <div class="translations">
    <p class="persian"><strong>{{ card.fa }}</strong> &#10139 فارسی </p>
    <p class="english">English &#10139 <strong>{{ card.en }}</strong></p>
    <small class="defenitions">{{ card.tx }}</small>
  </div>
  {% for lang in pons %}
    {% for hit in lang.hits %}
      <div>
      {% for rom in hit.roms %}
        <div class="def-entry">
        <small class="def-entry-heading">{{rom.wordclass}}</small>
        <div class="def-entry-body">
          {% for arb in rom.arabs %}
            {% for trn in arb.translations %}
              <p>
                <span>{{trn.source|safe}} &#10139</span>
                <span>{{trn.target|safe}}</span>
              </p>        
            {% endfor %}
          {% endfor %}
        </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  {% endfor %}
</div>
<div class="practice-link">
  <a href="{{ url_for('index') }}" style="text-align:start;">&#8592; Back to Word List</a>
</div>
{% endblock container %}
