{% extends 'base.html' %}
{% block container %}
<h1>German Flashcards</h1>
<form method="POST">
  <input
    type="text"
    name="german"
    placeholder="Enter German word..."
    required
  />
  <button type="submit" class="nv-right">&#10010;</button>
</form>
<div class="practice-link">
  <a href="{{ url_for('practice') }}">Practice Flashcards &rarr;</a>
</div>
<table>
  <thead>
    <tr>
      <th>German</th>
      <th>English</th>
      <th>Persian</th>
      <th>Definition</th>
    </tr>
  </thead>
  <tbody>
    {% for card in flashcards %}
    <tr>
      <td><a href="{{ url_for('view', card_id=card[0]) }}">{{ card[1] }}</a></td>
      <td>{{ card[2] }}</td>
      <td>{{ card[3] }}</td>
      <td>{{ card[4] }}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4" style="text-align: center; color: #888">
        Not yet Started.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock container %}
